body {
    font-family: 'Roboto', sans-serif;
}

.main-container {
    max-width: 1200px;
    margin:auto;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
}

nav button {
    color: #5d6e80;
    font-size: medium;
    font-weight: normal;
}

.grid-container {
    display: inline-grid;
}

.grid-item {

}
